<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h2 class="text-2xl font-semibold text-gray-700">Nova Categoria</h2>

  <hr class="my-4">

  <form id="categoriaForm">
    <div class="mb-4">
      <label for="nome" class="block text-gray-600 font-medium">Nome</label>
      <input type="text" id="nome" name="nome" placeholder="Ex: Restaurantes, Praias, Shoppings" required class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 outline-none">
      <span class="text-red-500 text-sm">Campo obrigatório</span>
    </div>

    <div class="mb-4">
      <label for="descricao" class="block text-gray-600 font-medium">Descrição</label>
      <textarea rows="4" id="descricao" name="descricao" placeholder="" required class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 outline-none resize-none"></textarea>
      <span class="text-red-500 text-sm">Campo obrigatório</span>
    </div>

    <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">Cadastrar Categoria</button>
  </form>
</div>